{% extends "base.html" %}  

{% block head_css %}
<link rel="stylesheet" href="/static/css/history.css">
{% endblock head_css %}

{% block content %}
<div class="history-title">
    <h2 class="history-title-text">전체 구독 내역</h2>
    <div class="history-title-empty"></div>
</div>
<div>
        <div>
            <table class="history-table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="">카테고리</th>
                        <th class="th-service">서비스</th>
                        <th class="th-plan">서비스 유형</th>
                        <th class="">결제시작일</th>
                        <th class="">결제예정일</th>
                        <th class="">만료예정일</th>
                        <th class="">결제금액</th>
                        <th class="">결제사</th>
                        <th class="">결제유형</th>
                        <th class="">알림여부</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="history-table-control">
            <div class="pagination">
            </div>
            <div>
                <button type="submit" class="history-table-button" onclick="">삭제</button>
            </div>
        </div>
</div>
{% endblock content %}