{% extends "base.html" %}
{% load static custom_tag %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock head_css %}

{% block content %}
<div class="subscription-title">
    <h2 class="subscription-title-text">구독 중인 서비스</h2>
    <div class="subscription-title-empty"></div>
</div>
<div>
    <table class="subscription-table">
        <thead>
            <tr>
                <th class="th-category">카테고리</th>
                <th class="th-service">서비스</th>
                <th class="th-plan">서비스 유형</th>
                <th class="th-next-billing-at">결제예정일</th>
                <th class="th-started-at">만료예정일</th>
                <th class="th-expire-at">결제금액</th>
                <th class="th-company">결제사</th>
                <th class="th-method-type">결제유형</th>
                <th class="th-alarm">알림여부</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in page_obj %}
            <tr class='subscribing' onclick="location.href='{% url 'main_update' obj.pk%}'">
                <td>{{obj.plan.service.category}}</td>
                <td>{{obj.plan.service.name|set_size:'7,T'}}</td>
                <td>{{obj.plan.name|set_size:'7,T'}}</td>
                <td>{{obj.next_billing_at|date:'Y.m.d'}}</td>
                <td>{{obj.expire_at|date:'Y.m.d'}}</td>
                <td>{{obj.plan.price|set_format}}</td>
                <td>{{obj.billing.company.company|set_size:'7,F'}}</td>
                <td>{{obj.billing.type}}</td>
                <td>{{obj.alarm_subscription.get_d_day_display}}</td>
            </tr>
            {% endfor %}
            {% if subscription_empty_row_count != 0 %}
                {% for i in "x"|rjust:subscription_empty_row_count %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
<div class="subscription-table-control">
    <div class="pagination">
        <ul class="page-list">
            {% for page_num in page_num_list %}
            <li class="page-item {% if page_obj.number == page_num %}active{% endif %}">
                <a href="{% url 'main' %}?page={{page_num}}" class="page-link">{{ page_num }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <button type="button" class="subscription-table-button" onclick=location.href="{% url 'main_create' %}">구독 등록</button>
    </div>
</div>

<div class="subscription-title">
    <h2 class="subscription-title-text">구독 만료 서비스</h2>
    <div class="subscription-title-empty"></div>
</div>
<div>
    <table class="subscription-table">
        <thead>
            <tr>
                <th>카테고리</th>
                <th>서비스</th>
                <th>서비스 유형</th>
                <th>만료일</th>
                <th>결제금액</th>
                <th>결제사</th>
                <th>결제유형</th>
            </tr>
        </thead>
        <tbody>
            {% for expire in expire_qs %}
            <tr>
                <td>{{expire.plan.service.category}}</td>
                <td>{{expire.plan.service.name}}</td>
                <td>{{expire.plan.name}}</td>
                <td>{{expire.expire_at|date:'Y.m.d'}}</td>
                <td>{{expire.plan.price|set_format}}</td>
                <td>{{expire.billing.company}}</td>
                <td>{{expire.billing.type}}</td>
            </tr>
            {% endfor %}
            {% if expire_qs|length < 5 %}
                {% for i in "x"|rjust:expire_empty_row_count %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}