{% extends "base.html" %}
{% load static custom_tag %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/update.css' %}">
{% endblock head_css %}

{% block head_js %}
<script defer src="{% static 'js/detail.js' %}"></script>
{% endblock head_js %}

{% block content %}

<div id="subscription-update" class="subscription-update"> 
    <div class="update-content">
        <div class="update-close-button" onclick=location.href="{% url 'main' %}">×</div>
        <div class="update-body">
            <div class="update-title-wrap">
                <h2 class="update-title">구독정보 수정</h2>
                <div class="show_list-wrap">
                    <a href="https://docs.google.com/spreadsheets/d/1MYBc6fn0Xbw7vbK2jpcBYu02jukmI-8emvralamyyW8/edit?usp=share_link/edit#gid=1831498595" target="_blank" class="show_list plan">서비스유형</a>
                    <a href="https://docs.google.com/spreadsheets/d/1MYBc6fn0Xbw7vbK2jpcBYu02jukmI-8emvralamyyW8/edit?usp=share_link/edit#gid=1341123862" target="_blank" class="show_list type">결제수단</a>
                </div>
                </div>
            <form method="post" action="{% url 'main_update' pk %}">
                {% csrf_token %}
                <div class="update-table" id="update-table">
                    <div class="update-table-head">
                        <div class="update-table-row">
                            <div class="update-table-th">카테고리</div>
                            <div class="update-table-th">서비스</div>
                            <div class="update-table-th">서비스유형</div>
                            <div class="update-table-th">구독시작일</div>
                            <div class="update-table-th">만료예정일</div>
                            <div class="update-table-th">결제금액</div>
                            <div class="update-table-th">결제유형</div>
                            <div class="update-table-th">결제사</div>
                            <div class="update-table-th">알람설정</div>
                        </div>
                    </div>
                    <div class="update-table-body" id="update-table-body">
                        <div class="update-table-row" id="update-table-row">
                            <div class="update-table-td">{{form.category_type}}</div>
                            <div class="update-table-td">{{form.service_type}}</div>
                            <div class="update-table-td">{{form.plan_type}}</div>
                            <div class="update-table-td">{{form.started_at}}</div>
                            <div class="update-table-td">{{form.expire_at}}</div>
                            <div class="update-table-td">{{form.price}}</div>
                            <div class="update-table-td">{{form.method_type}}</div>
                            <div class="update-table-td">{{form.company_type}}</div>
                            <div class="update-table-td">{{form.d_day}}</div>
                        </div>
                    </div>
                </div>
                <div class="update-table-control">
                    <div class="update-table-error">
                        {{form.category_type.errors}}
                        {{form.plan_type.errors}}
                        {{form.expire_at.errors}}
                        {{form.company_type.errors}}
                        <!-- 서비스유형 혹은 결제수단에서 오류가 발생하는 경우, 아래 문구 출력   -->
                        {% if form.plan_type.errors or form.company_type.errors %}
                            <div class="error_announce">서비스유형 및 결제수단 정보는 우측 상단의 링크를 통해 확인해주세요.</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="update-table-button">완료</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}