/* HISTORY */
.content.history {
    margin: auto;
    min-width: 1128px;
    max-width: 1128px;
    width: 100%;
    height: 700px;
    padding: 40px;
}

/* TITLE DIV WRAP */
.content.history .history-title {
    margin: auto;
    max-width: 1050px;
    display: flex;
    padding: 20px 0px 10px 0px;
}

.content.history .history-title .history-title-text {
    margin: auto;
    min-width: 240px;
    display: flex;
    color: #555555;
    font-size: 22px;
}

.content.history .history-title .history-title-empty {
    width: 100%;
    display: flex;
}

/* TABLE */
.content.history .history-table {
    margin: auto;
    max-width: 1050px;
    width: 100%;
    border-collapse: collapse;
    border-top:2px solid #555555;
    border-bottom: 2px solid #555555;
}

.content.history .history-table thead tr {
    background-color: #81CAB5;
    color: #ffffff;
    font-size: 13px;
  }

.content.history .history-table th,
.content.history .history-table td {
    height: 20px;
    padding: 8px 15px;
    border-top:1px solid #555555;
    border-bottom: 1px solid #555555;
    text-align: center;
    font-size: 13px;
}

.content.history .history-table .th-category,
.content.history .history-table .th-service,
.content.history .history-table .th-next-billing-at,
.content.history .history-table .th-started-at,
.content.history .history-table .th-expire-at,
.content.history .history-table .th-company,
.content.history .history-table .th-method-type {
    width: 65px;
}

.content.history .history-table .th-plan {
    width: 110px;
}

input[type="checkbox"],
.content.history .subscribing:hover {
    font-weight: 500;
    cursor: pointer;
}

.content.history .subscribing_row:hover {
    background-color : #f1fffb;
}

/* BOTTOM DIV WRAP*/
.content.history .history-table-control {
    margin: auto;
    max-width: 1050px;
    display: flex;
    padding: 5px 0px 0px 0px;
}

/* PAGINATION */
.content.history .history-table-control .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.content.history .history-table-control .pagination .page-list {
    display: flex;
    margin: 0px;
    padding-left: 55px;
}

.content.history .history-table-control .pagination .page-list .page-item {
    list-style: none;
    line-height: 25px;
    width: 25px;
    height: 25px;
    margin: 0px 1px;
    border-radius: 4px;
}

.content.history .history-table-control .pagination .page-list .page-item.active {
    background-color: #EAF6F2;
    font-weight: bold;
}

.content.history .history-table-control .pagination .page-list .page-item .page-link,
.content.history .history-table-control .pagination .page-list .page-item.active .page-link {
    text-decoration: none;
    color: #377E78;
}

/* BUTTON */
.content.history .history-table-control .history-table-button {
    font-family: 'Noto Sans KR';
    min-width: 110px;
    height: 32px;
    margin: auto;
    padding: 4px;
    border: 0;
    border-radius: 4px;
    color: #377E78;
    background-color: #EAF6F2;
    font-size: 14px;
    font-weight: bold;
}

.content.history .history-table-control .history-table-button:hover {
    cursor: pointer;
    background-color: #377E78;
    color: #EAF6F2;
}