/* CREATE MODAL */
body {
    font-family: 'Noto Sans KR';
    margin:0px;
}

.content.main_create .modal {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    top:0;
    left:0;
    height:100%;
    width: 100%;
    display: block;
}

.content.main_create .modal .create-content {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    min-width: 1050px;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    text-align: center;
    animation: slidefade 0.35s linear;
}

.content.main_create .modal .create-content .create-close-button {
    position: absolute;
    top: 15px;
    right: 15px;
}

.content.main_create .modal .create-content .create-close-button:hover{
    cursor: pointer;
}

/* TITLE WRAP */
.content.main_create .modal .create-content .create-title {
    margin: auto;
    max-width: 1050px;
    display: flex;
    padding: 20px 0px 10px 0px;
}

.content.main_create .modal .create-content .create-title .create-title-text {
    margin: auto;
    min-width: 240px;
    display: flex;
    color: #555555;
    font-size: 22px;
}

.content.main_create .modal .create-content .create-title .create-title-empty {
    width: 100%;
    display: flex;
}

.content.main_create .modal .create-content .create-title .show_list-wrap {
    display: flex;
}

.content.main_create .modal .create-content .create-title .show_list-wrap .show_list:link,
.content.main_create .modal .create-content .create-title .show_list-wrap .show_list:visited {
    min-width: 80px;
    color: #008078;
    text-decoration: none;
    font-weight: 500;
}

.content.main_create .modal .create-content .create-title .show_list-wrap .show_list:hover {
    min-width: 80px;
    color: #81CAB5;
    text-decoration: underline;
}

/* .content.main_create .modal .create-content .create-title .create-table-crud-button {
    min-width: 30px;
    height: 30px;
    margin: 0px 4px;
    padding: 8px;
    border: 0;
    border-radius: 4px;
    color: #377E78;
    background-color: #EAF6F2;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.content.main_create .modal .create-content .create-title .create-table-crud-button:hover {
    cursor: pointer;
} */

/* TABLE */
.content.main_create .modal .create-content .create-table{
	display: table;
	width: 100%;
    max-width: 1050px;
    margin: auto;
    border-top: 2px solid #555555;
    border-bottom: 2px solid #555555;
    border-collapse: collapse;
}

.content.main_create .modal .create-content .create-table .create-table-head {
    background-color: #81CAB5;
	display: table-header-group;
	font-weight: bold;
}

.content.main_create .modal .create-content .create-table .create-table-body {
	display: table-row-group;
}

.content.main_create .modal .create-content .create-table .create-table-head .create-table-row,
.content.main_create .modal .create-content .create-table .create-table-body .create-table-row {
	display: table-row;
}

.content.main_create .modal .create-content .create-table .create-table-head .create-table-row .create-table-th {
    background-color: #81CAB5;
}

.content.main_create .modal .create-content .create-table .create-table-head .create-table-row .create-table-th,
.content.main_create .modal .create-content .create-table .create-table-body .create-table-row .create-table-td {
    height: 21px;
    border-top: 1px solid #555555;
	display: table-cell;
    padding: 8px 5px;
    border-collapse: collapse;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    border-collapse: collapse;
}

input, select {
    font-family: 'Noto Sans KR';
    text-align: center;
}

input[type="text"], select {
    width: 80px;
}

input[type="date"] {
    max-width: 130px;
}

/* BOTTOM WRAP */
.content.main_create .create-table-control {
    margin: auto;
    max-width: 1050px;
    display: flex;
    padding: 5px 0px 0px 0px;
}

.content.main_create .create-table-control .create-table-control-empty {
    width: 100%;
    display: flex;
}
.content.main_create .create-table-control .create-table-error {
    margin: 0px 20px;
}
.content.main_create .create-table-control .create-table-error ul{
    min-width: 320px;
    margin: 2px;
    list-style: none;
    padding-left: 3px;
    font-size: 11px;
    color: red;
    text-align: right;
}

.content.main_create .create-table-control .create-table-error .error_announce{
    min-width: 320px;
    font-size: 11px;
    color: #00f;
}

.content.main_create .create-table-control .create-table-button {
    min-width: 110px;
    height: 32px;
    padding: 4px;
    border: 0;
    border-radius: 4px;
    color: #377E78;
    background-color: #EAF6F2;
    font-family: 'Noto Sans KR';
    font-size: 14px;
    font-weight: bold;
}

.content.main_create .create-table-control .create-table-button:hover {
    cursor: pointer;
    background-color: #377E78;
    color: #EAF6F2;
}