<header class="header">
    <nav class="nav">
        <div class="left-section">
            <img class="logo-img" src="/static/img/SubPrice.PNG" alt="logo">
        </div>
        <div class="middle-section"></div>
        <div class="right-section">
            <button class="main-button">MAIN</button>
            <button class="history-button">HISTORY</button>
            <img class="profile-img" src="/static/img/profile.png" alt="profile">
            <img class="logout-img" src="/static/img/logout.png" alt="logout">
        </div>
    </nav>
</header>